extends layout 

block content 
    .nav 
        h3#brand
            #b-m Members
            #b-o Only
        .links
            a(href='/logout') Logout
            a(href='/home/join-club') Join The Club

    if (undefined !== message_list && JSON.stringify(message_list) !== '[]') || authorised
        .message-board-container
            .message-board 
                ul 
                    each message in (undefined === message_list ? [] : message_list)
                        li 
                            //- Admin Options
                            if (undefined === admin ? false : admin) 
                                if JSON.stringify(user._id) === JSON.stringify(message.author._id)
                                    a(href=`/home/delete-message/${message._id}`, class='message-container right admin')
                                        if authorised
                                            .data 
                                                #author #{message.author.username}
                                                #date #{message.date_posted.toLocaleString().split(',')[0]}
                                        p#message #{message.message}
                                else
                                    a(href=`/home/delete-message/${message._id}`, class='message-container admin')
                                        if authorised
                                            .data 
                                                #author #{message.author.username}
                                                #date #{message.date_posted.toLocaleString().split(',')[0]}
                                        p#message #{message.message}
                            //- Regular user
                            else
                                if JSON.stringify(user._id) === JSON.stringify(message.author._id)
                                    .message-container(class='right')
                                            if authorised
                                                .data 
                                                    #author #{message.author.username}
                                                    #date #{message.date_posted.toLocaleString().split(',')[0]}
                                            p#message #{message.message}
                                else
                                    .message-container 
                                        if authorised
                                            .data 
                                                #author #{message.author.username}
                                                #date #{message.date_posted.toLocaleString().split(',')[0]}
                                        p#message #{message.message}
                                        
                if authorised  
                    .message-form-container           
                            form.message(method='POST' action='/home/create-message')
                                .form-inputs-message
                                    input#user-message(type='text' name='user_message' placeholder='Enter message' maxLength='246' required title='Please enter a message!')

                                    button#form-submit(type='submit') Send Message
    else
        .no-msg No Messages
